.header__login {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .header__login {
    /* width: 173px;
    height: 33px; */
    padding: 0;
  }
}
