.sign-up__text {
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
